{% extends '::layout/layout.html.twig' %}

{% block content %}
    <section class="container">
        <div class="logo">
            <img src="{{ asset('media/img/logo.png') }}" />
        </div>
        <div class="login">
            <h1>Forgot your password</h1>
            <form method="post" action="index.html" id="forgotForm">
                <p>We will send instructions for resetting your password on your email.</p>
                <p><input type="text" name="login" id="login" value="" placeholder="Email"></p>
                <p class="submit"><input type="submit" name="commit" value="Forgot"></p>
            </form>
        </div>

        <div class="login-help">
            <a href="/">Sign in</a>
        </div>
    </section>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#forgotForm').on('submit', function(e){
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/forgot/ajax/",
                data: { 'email': $("#login").val() },
                success: function(){
                    self.location = "/forgot/ok/";
                },
                error: function(){
                    alert("Error");
                },
                dataType: 'text'
            });

            return false;
        });
    });
</script>
{% endblock %}