<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>inWorkFlow</title>
    <link rel="icon" href="{{ asset('media/favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ asset('media/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('media/css/style.css') }}">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>